body{
 background-color: #F4F7F6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
}

h1{
    margin-top: -5px;
    text-align: center; 
    font-size: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

label{
     font-weight: 600;
    margin-bottom: 5px;
    text-align: left; 
    text-transform: capitalize;
    margin-top: -5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input{
 padding: 12px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s;
  text-align: center;
}
input:focus {
  border-color: #2575fc;
  outline: none;
}
p{ 
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    margin-top: 90px;
     width: 320px;
  padding: 15px;
  font-size: 24px;
  background-color: #2575fc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}



.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 300px;
}

button:hover {
  background-color: #1a54b8;
  transform: scale(1.05);
}

#resultado{
    margin-top: 60px;
    font-size: 3rem;
}

#resultado:hover{
    background-color: yellow;
    text-transform: inherit;
}