html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(30, 2, 46); /* cor de fundo da página */
  color: #fff; /* cor de texto padrão se desejar */
  min-height: 100vh;
}

body {
  background-image: none; /* remove imagem de fundo se tiver */
}

/* GERAL */
ul, li, .list-group, .list-group-item {
    list-style: none !important;
    border: none !important;
    background-color: transparent !important;
}
.list-group-item{
    text-align: relative;
    background-color: transparent;
    color: white;
    top: -55px;
    box-shadow: none !important;
}

/* GABRIEL */
.img-gabriel{
    position: relative;
    top: -90px;
}
.btn-attack{
    position: relative;
    color: white;
    background-color: blue;
    margin: auto;
    border: 1px solid white;
    left: -50px;
    padding: 5px 20px;
    font-size: 1.2rem;
}
.btn-shot{
    position: relative;
    color: white;
    background-color: goldenrod;
    margin: auto;
    border: 1px solid white;
    left: -20px;
    padding: 5px 20px;
    font-size: 1.2rem;
}
.hp-gabriel{
    position: relative;
    width: 400px;
    height: 20px;
    color: red;
    border: 1px solid goldenrod;
    top: -5px;
}
.mp-gabriel{
    position: relative;
    width: 200px;
    height: 10px;
    border: 1px solid goldenrod;
    top: -35px;
}
progress.hp-gabriel::-webkit-progress-value { background-color: red; }
progress.hp-gabriel::-moz-progress-bar { background-color: red; }
progress.mp-gabriel::-webkit-progress-value { background-color: blue; }
progress.mp-gabriel::-moz-progress-bar { background-color: blue; }
progress::-webkit-progress-bar { background-color: rgba(255,255,255,0.2); }
progress::-moz-progress-bar { background-color: rgba(255,255,255,0.2); }


/* MINOS */
.boss-card {
    border: none;
    box-shadow: none;
    background-color: transparent;
}
.boss-card-header,
.boss-card-body,
.boss-card-footer {
    border: none;progress.hp-gabriel::-webkit-progress-value { background-color: red; }

    box-shadow: none;
    background-color: transparent;
}
.img-minos{
    position: relative;
    top: 100px;
    bottom: 140px;
    left: 130px;
}
.hp-minos{
    direction: rtl;
    position: relative;
    width: 400px;
    left: -205px;
    height: 20px;
    color: red;
    border: 1px solid rgb(0, 0, 0);
    top: -5px;
}
.energia-minos{
    direction: rtl;
    position: relative;
    width: 200px;
    left: -5px;
    height: 10px;
    border: 1px solid rgb(0, 0, 0);
    top: -35px;
}
progress.hp-minos::-webkit-progress-value { background-color: red; }
progress.hp-minos::-moz-progress-bar { background-color: red; }
progress.energia-minos::-webkit-progress-value { background-color: goldenrod; }
progress.energia-minos::-moz-progress-bar { background-color: goldenrod; }
progress::-webkit-progress-bar { background-color: rgba(255,255,255,0.2); }
progress::-moz-progress-bar { background-color: rgba(255,255,255,0.2); }